$Very_Dark_Grayish_Blue: hsl(217, 19%, 35%);
$Desaturated_Dark_Blue: hsl(214, 17%, 51%);
$Grayish_Blue: hsl(212, 23%, 69%);
$Light_Grayish_Blue: hsl(210, 46%, 95%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $Light_Grayish_Blue;
}
.component{
    margin: 4rem auto 2rem;
    border-radius: 1rem;
    width: 90%;
    background-color: #fff;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    overflow: hidden;
}
.img-container{
    height: 12rem;
    background-image: url('../images/drawers.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
}
.text-container{
    padding: 3rem 1rem 1rem;
    h2{
        color: $Very_Dark_Grayish_Blue;
        margin-bottom: 1rem;
    }
    p{
        color: $Desaturated_Dark_Blue;
        margin-bottom: 2rem;
    }
}

.author{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.avatar{
    img{
        height: 3rem;
        border-radius: 50%;
        
    }
}
.share-btn{
    background-color: $Light_Grayish_Blue;
    padding: 0.5rem;
    border-radius: 50%;
    img{
        height: 1rem;
    }
}
.author{
    position: relative;
}
.author-text{
    margin-left: -3rem;
    .name{
        color: $Very_Dark_Grayish_Blue;
        font-weight: 700;
        font-size: 14px;
    }
    .post-date{
        color: $Desaturated_Dark_Blue;
    }
}
.share-box{
    position: absolute;
    width: 120%;
    left: -2rem;
    bottom: -400%;
    height: 90px;
    background-color: $Very_Dark_Grayish_Blue;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: ease-in 0.8s;
    p{
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 0;
    }
    img{
        margin-left: -2rem;
    }
    :last-child{
        margin-left: 1rem;
    }
    .close{
        background-color: #fff;
        padding: 0.5rem;
        border-radius: 50%;
    }
}
.share-box.active{
    bottom: -35%;
}
.attribution{
    padding: 0 2rem;
    text-align: center;
    line-height: 1.5;
}